* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Baloo Bhaina 2', cursive;
  text-align: center;
  height: 100vh;
  background: #216149;
  color: #eef9f5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.page-header {
  font-size: 62px;
  font-style: italic;
  font-weight: 900;
  color: #2e8766;
}

.box {
  background: #216149;
  max-width: 1000px;
  margin: 0 auto;
  padding: 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 8px;
  -webkit-box-shadow: 12px 12px 24px 0 rgba(0, 0, 0, 0.15), -8px -8px 24px 0 rgba(255, 255, 255, 0.12);
          box-shadow: 12px 12px 24px 0 rgba(0, 0, 0, 0.15), -8px -8px 24px 0 rgba(255, 255, 255, 0.12);
}

.box .pad-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (90px)[3];
      grid-template-columns: repeat(3, 90px);
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  grid-gap: 20px;
}

.box .pad-container .pad {
  -webkit-box-shadow: 12px 12px 24px 0 rgba(0, 0, 0, 0.15), -8px -8px 24px 0 rgba(255, 255, 255, 0.12);
          box-shadow: 12px 12px 24px 0 rgba(0, 0, 0, 0.15), -8px -8px 24px 0 rgba(255, 255, 255, 0.12);
  border-radius: 8px;
  background: linear-gradient(45deg, #216149, #277457);
  font-size: 24px;
  margin: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 80px;
  -webkit-transition: all 0.1s;
  transition: all 0.1s;
}

.box .pad-container .pad:hover {
  cursor: pointer;
}

.box .user-options {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.box .user-options .indicator {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  -ms-flex-item-align: end;
      align-self: flex-end;
  -webkit-box-shadow: 0px 0px 6px inset;
          box-shadow: 0px 0px 6px inset;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.box .user-options .indicator .light-source {
  width: 6px;
  height: 6px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin: 0 auto;
  border-radius: 50%;
}

.box .user-options .indicator .on {
  background: #67cf63;
  -webkit-box-shadow: 6px 7px 21px -3px #67cf63;
  box-shadow: 0px 0px 18px 6px #67cf63;
}

.box .user-options .indicator .off {
  background: #277457;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.box .user-options .toggle {
  border-radius: 50px;
  -webkit-box-shadow: -8px -8px 24px 0 rgba(0, 0, 0, 0.15) inset, 12px 12px 24px 0 rgba(255, 255, 255, 0.12) inset;
          box-shadow: -8px -8px 24px 0 rgba(0, 0, 0, 0.15) inset, 12px 12px 24px 0 rgba(255, 255, 255, 0.12) inset;
  width: 92px;
  height: 50px;
  position: relative;
}

.box .user-options .toggle .switch {
  border-radius: 50px;
  background: linear-gradient(45deg, #277457, #2e8766);
  height: 38px;
  width: 38px;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  left: 5px;
  -webkit-transition: left 0.1s;
  transition: left 0.1s;
}

.box .user-options .toggle .switch_on {
  left: 50px;
  -webkit-transition: left 0.1s;
  transition: left 0.1s;
}

.box .user-options #power {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.box .user-options #bank {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.box .user-options .sound-display {
  background: #216149;
  min-width: 200px;
  padding: 5px 20px;
  margin: 20px;
  font-size: 16px;
  color: #216149;
  font-family: "VT323", monospace;
}

.playing {
  -webkit-transform: scale(0.95);
          transform: scale(0.95);
  -webkit-transition: all 0.1s;
  transition: all 0.1s;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}

@-webkit-keyframes jump {
  0% {
    bottom: 0%;
    left: 20%;
  }
  50% {
    bottom: 50%;
    left: 50%;
  }
  100% {
    bottom: 0%;
    left: 80%;
  }
}

@keyframes jump {
  0% {
    bottom: 0%;
    left: 20%;
  }
  50% {
    bottom: 50%;
    left: 50%;
  }
  100% {
    bottom: 0%;
    left: 80%;
  }
}
/*# sourceMappingURL=style.css.map */