* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Baloo Bhaina 2', cursive;
  text-align: center;
  height: 100vh;
  background: #242424;
  color: #f8f8f8;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.box {
  background: #6e6e6e;
  border: 5px solid #93e990;
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.box .pad-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (90px)[3];
      grid-template-columns: repeat(3, 90px);
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
}

.box .pad-container .pad {
  -webkit-box-shadow: 6px 7px 21px -3px rgba(0, 0, 0, 0.52);
  box-shadow: 6px 7px 21px -3px rgba(0, 0, 0, 0.52);
  border-radius: 8px;
  color: #93e990;
  font-size: 24px;
  margin: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 80px;
  background: -webkit-gradient(linear, left top, left bottom, from(#6e6e6e), to(#242424));
  background: linear-gradient(180deg, #6e6e6e, #242424);
  -webkit-transition: all 0.25s;
  transition: all 0.25s;
}

.box .pad-container .pad:hover {
  background: linear-gradient(220deg, #242424, #6e6e6e);
  -webkit-transition: all 0.25s;
  transition: all 0.25s;
  cursor: pointer;
}

.box .user-options {
  width: 100%;
  margin: 0 auto;
}

.box .user-options .toggle-power {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 50px;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  border: 2px solid #242424;
  background: #242424;
  width: 50px;
  height: 25px;
}

.box .user-options .toggle-power .switch {
  border-radius: 50px;
  background: #93e990;
  height: 100%;
  width: 50%;
}

.box .user-options .sound-display {
  background: #242424;
  min-width: 200px;
  padding: 10px 30px;
  margin: 20px;
}

.on {
  -webkit-box-shadow: 6px 7px 21px -3px #93e990;
  box-shadow: 0px 0px 32px -3px #93e990;
}

.playing {
  -webkit-box-shadow: inset 0px 0px 26px 4px rgba(0, 0, 0, 0.17);
  box-shadow: inset 0px 0px 26px 4px rgba(0, 0, 0, 0.17);
  background: #93e990;
  -webkit-transform: scale(0.95);
          transform: scale(0.95);
  -webkit-transition: all 0.25s;
  transition: all 0.25s;
}

@-webkit-keyframes jump {
  0% {
    bottom: 0%;
    left: 20%;
  }
  50% {
    bottom: 50%;
    left: 50%;
  }
  100% {
    bottom: 0%;
    left: 80%;
  }
}

@keyframes jump {
  0% {
    bottom: 0%;
    left: 20%;
  }
  50% {
    bottom: 50%;
    left: 50%;
  }
  100% {
    bottom: 0%;
    left: 80%;
  }
}
/*# sourceMappingURL=style.css.map */