* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

$displayfont1: 'VT323', monospace;
$displayfont2: 'Press Start 2P', cursive;

$primary: rgb(33, 97, 73);
$secondary: lighten($primary, 5%);
$tertiary: lighten($primary, 10%);
$text: lighten($primary, 70%);
$green: rgb(103, 207, 99);
$red: rgb(253, 67, 43);

$morph:     
  12px 12px 24px 0 rgba(0, 0, 0, 0.15),
  -8px -8px 24px 0 rgba(255, 255, 255, 0.12);
$morph_inset:
  -8px -8px 24px 0 rgba(0, 0, 0, .15) inset,
  12px 12px 24px 0 rgba(255, 255, 255, 0.12) inset;

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Baloo Bhaina 2', cursive;
  text-align: center;
  height: 100vh;
  background: $primary;
  color: $text;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.page-header {
  font-size: 62px;
  font-style: italic;
  font-weight: 900;
  color: $tertiary;
}

.box {
  background: $primary;
  max-width: 1000px;
  margin: 0 auto;
  padding: 32px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  box-shadow: $morph;
  .pad-container {
    display: grid;
    grid-template-columns: repeat(3, 90px);
    grid-template-rows: 1fr;
    grid-gap: 20px;
    .pad {
      box-shadow: $morph;
      border-radius: 8px;
      background: linear-gradient(45deg, $primary, $secondary);
      font-size: 24px;
      margin: 5px;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 80px;
      transition: all 0.1s;
      &:hover {
        cursor: pointer;
      }
    }
  }
  .user-options {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .indicator {
      width: 12px;
      height: 12px;
      border-radius: 50%;
      align-self: flex-end;
      box-shadow: 0px 0px 6px inset;
      display: flex;
      .light-source {
        width: 6px;
        height: 6px;
        align-self: center;
        margin: 0 auto;
        border-radius: 50%;
      }
      .on {
        background: $green;
        -webkit-box-shadow: 6px 7px 21px -3px $green;
        -moz-box-shadow: 6px 7px 21px -3px $green;
        box-shadow: 0px 0px 18px 6px $green;
      }
      .off {
        background: $secondary;
        box-shadow: none;
      }
    }
    .toggle {
      border-radius: 50px;
      box-shadow: $morph_inset;
      width: 92px;
      height: 50px;
      position: relative;
      .switch {
        border-radius: 50px;
        background: linear-gradient(45deg, $secondary, $tertiary);
        height: 38px;
        width: 38px;
        position: absolute;
        top: 0;
        bottom: 0;
        margin: auto;
        left: 5px;
        transition: left 0.1s;
      }
      .switch_on {
        left: 50px;
        transition: left 0.1s;
      }
    }
    #power {
      justify-content: flex-end;
    }
    #bank {
      justify-content: flex-start;
    }
    .sound-display {
      background: $primary;
      min-width: 200px;
      padding: 5px 20px;
      margin: 20px;
      font-size: 16px;
      color: $primary;
      font-family: $displayfont1;
    }
    // input[type=range] {
    //   color: none;
    // }
  }
}
.playing {
  transform: scale(0.95);
  transition: all 0.1s;
  box-shadow: none !important;
}




@keyframes jump {
  0% {
    bottom: 0%;
    left: 20%;
  }
  50% {
    bottom: 50%;
    left: 50%;
  }
  100% {
    bottom: 0%;
    left: 80%;
  }
}