* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

$displayfont1: 'VT323', monospace;
$displayfont2: 'Press Start 2P', cursive;

$green: rgb(255, 145, 0);
$gray: rgb(110, 110, 110);
$grayer: rgb(192, 192, 192);
$green: rgb(103, 207, 99);
$red: rgb(253, 67, 43);
$black: rgba(0,0,0,0.52);

body {
  font-family: 'Baloo Bhaina 2', cursive;
  text-align: center;
  height: 100vh;
  background: $grayer;
  color: $black;
  text-shadow: $black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.box {
  background: $grayer;
  max-width: 800px;
  margin: 0 auto;
  padding: 32px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  -webkit-box-shadow: 6px 7px 21px -3px $black;
  -moz-box-shadow: 6px 7px 21px -3px $black;
  box-shadow: 0px 0px 32px -3px $black;
  .pad-container {
    display: grid;
    grid-template-columns: repeat(3, 90px);
    grid-template-rows: 1fr;
    .pad {
      -webkit-box-shadow: 6px 7px 21px -3px $black;
      -moz-box-shadow: 6px 7px 21px -3px $black;
      box-shadow: 6px 7px 21px -3px $black;
      border-radius: 8px;
      color: $black;
      font-size: 24px;
      margin: 5px;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 80px;
      background: $grayer;
      transition: all 0.25s;
      &:hover {
        background: $grayer;
        transition: all 0.25s;
        cursor: pointer;
      }
    }
  }
  .user-options {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .indicator {
      width: 12px;
      height: 12px;
      border-radius: 50%;
      align-self: flex-end;
      box-shadow: 0px 0px 6px inset;
      display: flex;
      .light-source {
        width: 6px;
        height: 6px;
        align-self: center;
        margin: 0 auto;
        border-radius: 50%;
      }
      .on {
        background: $green;
        -webkit-box-shadow: 6px 7px 21px -3px $green;
        -moz-box-shadow: 6px 7px 21px -3px $green;
        box-shadow: 0px 0px 18px 6px $green;
      }
      .off {
        background: $red;
        -webkit-box-shadow: 6px 7px 21px -3px $red;
        -moz-box-shadow: 6px 7px 21px -3px $red;
        box-shadow: 0px 0px 18px 6px $red;
      }
    }
    .toggle {
      display: flex;
      border-radius: 50px;
      box-shadow: 5px 10px 10px inset;
      width: 50px;
      height: 25px;
      .switch {
        border-radius: 50px;
        background: $black;
        height: 100%;
        width: 50%;
      }

    }
    #power {
      justify-content: flex-end;
    }
    #bank {
      justify-content: flex-start;
    }
    .sound-display {
      background: $grayer;
      min-width: 200px;
      padding: 5px 20px;
      margin: 20px;
      font-size: 16px;
      color: $grayer;
      font-family: $displayfont1;
    }
  }
}
.playing {
  -webkit-box-shadow: inset 0px 0px 26px 4px $gray;
  -moz-box-shadow: inset 0px 0px 26px 4px $gray;
  box-shadow: inset 0px 0px 26px 4px $gray;
  background: $green;
  transform: scale(0.95);
  transition: all 0.25s;
}




@keyframes jump {
  0% {
    bottom: 0%;
    left: 20%;
  }
  50% {
    bottom: 50%;
    left: 50%;
  }
  100% {
    bottom: 0%;
    left: 80%;
  }
}